form p.error {
    background: #f8b;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    text-shadow: 0px -1px 0px rgba(180, 0, 0, 0.5);
}

button {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

button:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

button:enabled:active {
    position: relative;
    top: 1px;
}

button:disabled {
    background: #808080;
    color: #ccc;
    text-shadow: none;
    box-shadow: none;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    border-radius: 3px;
    border: 1px solid #124d77;
    font-size: 12px;
    padding: 6px 12px;
}

input[type='text'].error,
input[type='password'].error,
input[type='email'].error {
    border-color: #c00;
    color: #c00;
}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='email']:disabled {
    border-color: #ddd;
    color: #ddd;
}

select {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    border-radius: 3px;
    border: 1px solid #124d77;
    font-size: 12px;
    padding: 6px 12px;
    padding-right: 24px;
}

select.error {
    border-color: #c00;
    color: #c00;
}

input[type='checkbox'],
input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    border: 1px solid #124d77;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
input[type='radio'] {
    border-radius: 9px;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
    background-position-x: 2px;
    background-position-y: 2px;
    background-repeat: no-repeat;
}

input[type='checkbox']:checked {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+PHJlY3QgZmlsbD0iIzAwN2RjMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg==');
}
input[type='radio']:checked {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+PGNpcmNsZSBmaWxsPSIjMDA3ZGMxIiBjeD0iNiIgY3k9IjYiIHI9IjYiIC8+PC9zdmc+');
}
input[type='checkbox']:disabled,
input[type='radio']:disabled {
    border-color: #ddd;
}
input[type='checkbox'].error,
input[type='radio'].error {
    border-color: #c00;
}

label {
    margin-right: 6px;
    margin-left: 6px;
    margin: 6px;
}
label:first-child,
form > section > h2 + label {
    margin-left: 0px;
}

/*
Form control layout
*/

form > section {
    margin: 35px 0;
}
form > section > h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

input,
button,
select {
    vertical-align: baseline;
    margin: 0 4px;
}
label {
    margin: 0 6px;
}
input[type='radio'],
input[type='checkbox'] {
    position: relative;
    top: 4px;
}

form p.align span,
form span.label {
    width: 100px;
    display: inline-block;
    text-align: right;
}

form p.align select {
    width: 180px;
}
form p.align input[type='text'],
form p.align input[type='password'],
form p.align input[type='email'] {
    width: 154px;
}
form p.align + p.align {
    margin-top: -12px !important;
}
form input[type='range'] {
    position: relative;
    top: 6px;
}
